camera_tis_node:
    exposure_time: 1000         # int, exposure time in in microseconds
    width: 1536                 # int, width in pixel
    height: 1024                # int, height in pixel

rotate_image_node:
    mode: 0                     # int, 0 - 90, 1 - 180, 2 - 270
    
laser_line_center_node:
    ksize: 5                    # int
    threshold: 35               # int
    width_min: 1.               # double
    width_max: 30.              # double
    task_num: 0

laser_imagepos_node:
    als100_exposure_time:     10000   # int
    als100_pingjun:           15
    als100_b_yanmofuzhu:      1
    als100_b_gudingquyu:      0
    als100_widthliantongdis:  6
    als100_highliantongdis:   15
    als100_gujiaerzhi:        160
    als100_jiguanghight:      50
    als100_jiguanglong:       20
    als100_jiguangkuandu:     4
    als100_Updif:             0
    als100_Updifmin:         -5
    als100_Uplong:            5
    als100_Downdif:           0
    als100_Downdifmin:        5
    als100_Downdlong:         5
    als100_duanxianerzhi:     180
    als100_erzhisize:         150
    als100_erzhisize2:        60
    als100_searchdectancemax: 160
    als100_searchdectancemin: 25
    als100_dis_center_st:     0
    als100_dis_center_ed:     500

    als101_exposure_time:     10000               # int
    als101_pingjun:           15
    als101_b_yanmofuzhu:      1
    als101_b_gudingquyu:      0
    als101_widthliantongdis:  6
    als101_highliantongdis:   15
    als101_gujiaerzhi:        160
    als101_jiguanghight:      50
    als101_jiguanglong:       20
    als101_jiguangkuandu:     4
    als101_Updif:             0
    als101_Updifmin:          5
    als101_Uplong:            5
    als101_Downdif:           0
    als101_Downdifmin:       -5
    als101_Downdlong:         5
    als101_duanxianerzhi:     180
    als101_erzhisize:         150
    als101_erzhisize2:        60
    als101_searchdectancemax: 160
    als101_searchdectancemin: 25
    als101_dis_center_st:     0
    als101_dis_center_ed:     500

    als102_exposure_time:       10000               # int
    als102_pingjun:             15
    als102_b_yanmofuzhu:        1
    als102_b_gudingquyu:        0
    als102_widthliantongdis:    6
    als102_highliantongdis:     15
    als102_gujiaerzhi:          160
    als102_jiguanghight:        50
    als102_jiguanglong:         20
    als102_jiguangkuandu:       4
    als102_Updif:               0
    als102_Updifmin:           -5
    als102_Uplong:              5
    als102_Downdif:             0
    als102_Downdifmin:          5
    als102_Downdlong:           5
    als102_St_Down:             5
    als102_Ed_Down:             50
    als102_St_Up:               5
    als102_Ed_Up:               50
    als102_Updif2:             -2
    als102_Updifmin2:          -5
    als102_dis_center_st:       0
    als102_dis_center_ed:       30
    als102_b_opengudingdimian:  0
    als102_dimianpangdingjuli:  15
    als102_dimianpingjunshunum: 10
    als102_dis_center_st2:      5
    als102_dis_center_ed2:      100
    als102_dis_center_st3:      5
    als102_dis_center_ed3:      500

    als103_exposure_time:       10000
    als103_pingjun:             15
    als103_gujiaerzhi:          160
    als103_widthliantongdis:    5
    als103_highliantongdis:     5
    als103_jiguanglong:         5
    als103_jiguangkuandu:       10

    task_num:       0                 # int
    show_step:      0
    start:          0

laser_line_filter_node:
    enable: false               # bool, enable
    window_size: 10             # int pixel
    gap: 5                      # int pixel
    deviate: 5.                 # double pixel
    step: 2.                    # double pixel
    length: 30                  # int pixel

line_center_reconstruction_node:
    # camera_matrix: [4.7916469354019528e+03, 0., 5.8675923543170029e+02, 0., 4.7899482899479808e+03, 7.1242314778468199e+02, 0., 0., 1.]
    # distort_coeffs: [4.2076631221379904e-02, -2.7859140112435599e+00, -1.9309580315517009e-03, 1.1548657330975238e-03, 5.1176622139610359e+01]
    # homography_matrix: [8.95810953e-02,  1.09862135e-01, -1.93995953e+01, -4.15779030e-01,  4.70428332e-03,  3.99283020e+02, 1.16829295e-03, -1.26498465e-05,  1.00000000e+00]
    # homography_matrix: [ 4.47905463e-02,  5.49310680e-02, -9.69979774e+00, -2.07889516e-01,  2.35214168e-03,  1.99641511e+02, 1.16829292e-03, -1.26498284e-05,  1.00000000e+00]
    # homography_matrix: [0.5192074678048078, 0.17068713085978118, 0.899294793605686, -0.5027767870768352, 0.006258326269917238, 518.6076660156256, 0.0034361370368609853, 7.0844777283431316e-06, 1.0]
    homography_matrix: [0.16085207487679626, 0.2679666549425936, -205.1548588898662, -0.7409214060537485, 0.009161773590904738, 758.7035197990384, 0.0060885745075360325, 4.084389881288615e-06, 1.0]

seam_tracking_node:
    codes:
        - "import numpy as np\nfrom numpy.polynomial.polynomial import polyfit\n\ndtype =\
          \ [(x, np.float32) for x in 'xyi']\n\ndef fn(d):\n    return\
          \ d\n    #d = interpolate(d)\n    #id = local_max(d, delta=60)\n    #if len(id):\n\
          \        #p = cross(d, id[0], delta=60, num=280)\n        #return np.concatenate((p,d))\n\
          \    #return d\n\ndef interpolate(d: np.array):\n    if d.size == 0:\n        return\
          \ np.array([], dtype=dtype)\n    length = int(np.max(d['i']))\n    ret = np.full((length\
          \ + 1,), np.nan, dtype=dtype)\n    ret[d['i'].astype(np.int)] = d\n    return ret\n\
          \n\ndef local_max(d: np.array, *, delta: int):\n    md = []\n    id = []\n    for\
          \ i in range(0, len(d), delta):\n        mask = ~np.isnan(d['y'][i:i + delta])\n\
          \        if np.any(mask):\n            id.append(np.nanargmax(d['y'][i:i + delta])\
          \ + i)\n    for i in id:\n        if i - delta + 1 < 0 or i + delta > d.size:\n\
          \            continue\n        m = np.nanargmax(d['y'][i - delta + 1:i + delta])\
          \ + i - delta + 1\n        if i == m:\n            md.append(m)\n    return md\n\
          \n\ndef local_min(d: np.array, *, delta: int):\n    md = []\n    id = []\n    for\
          \ i in range(0, len(d), delta):\n        mask = ~np.isnan(d['y'][i:i + delta])\n\
          \        if np.any(mask):\n            id.append(np.nanargmin(d['y'][i:i + delta])\
          \ + i)\n    for i in id:\n        if i - delta + 1 < 0 or i + delta > d.size:\n\
          \            continue\n        m = np.nanargmin(d['y'][i - delta + 1:i + delta])\
          \ + i - delta + 1\n        if i == m:\n            md.append(m)\n    return md\n\
          \n\ndef cross(d: np.array, id: int, *, delta: int, num: int = None):\n    s1 = None\
          \ if num is None or id - num + 1 < 0 else id - num + 1\n    e1 = 0 if id - delta\
          \ < 0 else id - delta\n    s2 = id + delta + 1\n    e2 = None if num is None else\
          \ id + num\n\n    d['i'][s1:e1] = -2\n    d['i'][s2:e2] = -3\n    mask1 = ~np.isnan(d['x'][s1:e1])\n\
          \    mask2 = ~np.isnan(d['x'][s2:e2])\n    if np.count_nonzero(mask1) > 1 and np.count_nonzero(mask2)\
          \ > 1:\n        b1, m1 = polyfit(d['x'][s1:e1][mask1], d['y'][s1:e1][mask1], 1)\n\
          \        b2, m2 = polyfit(d['x'][s2:e2][mask2], d['y'][s2:e2][mask2], 1)\n     \
          \   px = (b2 - b1) / (m1 - m2)\n        py = px * m1 + b1\n        return np.array([\n\
          \            (px, py, -1), (0, b1, -4),\n            (100, 100 * m1 + b1, -4),\n\
          \            (0, b2, -5),\n            (100, 100 * m2 + b2, -5)],\n            dtype=dtype)\n\
          \    else:\n        return np.array([], dtype=dtype)"
    task: 0                     # int
    delta_x: 0.                 # double in mm
    delta_y: 0.                 # double in mm
    enable: false               # bool
    window_size: 10             # int in count
    gap: 2                      # int in count
    step: 2.                    # double in mm
    length: 5                   # int in count

modbus_node:
    parameterport: 1500
    robotsetport: 1501
    port: 1502                  # int
    robot_mod: 0

gpio_raspberry_node:
    test: TODO
